USE [master]
GO
/****** Object:  Database [AutoWashProDB]    Script Date: 6/23/2026 9:54:28 PM ******/
CREATE DATABASE [AutoWashProDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AutoWashProDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\AutoWashProDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AutoWashProDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\AutoWashProDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AutoWashProDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AutoWashProDB]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 6/23/2026 9:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 6/23/2026 9:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[BookingDate] [datetime] NOT NULL,
	[ServiceType] [nvarchar](100) NOT NULL,
	[BookingStatus] [nvarchar](20) NULL,
	[Notes] [nvarchar](255) NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[DiscountAmount] [decimal](12, 2) NULL,
	[FinalAmount] [decimal](12, 2) NOT NULL,
	[TimeSlot] [varchar](10) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerPromotions]    Script Date: 6/23/2026 9:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerPromotions](
	[CustomerPromotionID] [int] IDENTITY(1,1) NOT NULL,
	[PromotionID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[AssignedDate] [datetime] NULL,
	[IsUsed] [bit] NOT NULL,
	[UsedDate] [datetime] NULL,
	[Notes] [nvarchar](255) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerPromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 6/23/2026 9:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [varchar](15) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[TierID] [int] NOT NULL,
	[CurrentPoints] [int] NULL,
	[TotalBookings] [int] NULL,
	[TotalSpend] [decimal](12, 2) NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerTiers]    Script Date: 6/23/2026 9:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerTiers](
	[TierID] [int] IDENTITY(1,1) NOT NULL,
	[TierName] [nvarchar](50) NOT NULL,
	[MinBookings] [int] NOT NULL,
	[MinSpend] [decimal](12, 2) NOT NULL,
	[PointMultiplier] [decimal](5, 2) NOT NULL,
	[DiscountPercent] [decimal](5, 2) NOT NULL,
	[PriorityLevel] [int] NOT NULL,
	[BookingWindowDays] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PointTransactions]    Script Date: 6/23/2026 9:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointTransactions](
	[PointTransactionID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[BookingID] [int] NULL,
	[PointsChanged] [int] NOT NULL,
	[TransactionType] [nvarchar](20) NOT NULL,
	[ExpiryDate] [datetime] NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PointTransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 6/23/2026 9:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[PromotionID] [int] IDENTITY(1,1) NOT NULL,
	[AdminID] [int] NOT NULL,
	[PromotionName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[DiscountPercent] [decimal](5, 2) NULL,
	[BonusPoints] [int] NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Status] [bit] NULL,
	[TargetType] [varchar](30) NOT NULL,
	[IsDeleted] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionTiers]    Script Date: 6/23/2026 9:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionTiers](
	[PromotionID] [int] NOT NULL,
	[TierID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC,
	[TierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 6/23/2026 9:54:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[LicensePlate] [varchar](20) NOT NULL,
	[Brand] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Color] [nvarchar](30) NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminID], [FullName], [Email], [Password], [Status], [CreatedAt]) VALUES (1, N'System Administrator', N'admin@autowashpro.com', N'123456', 1, CAST(N'2026-06-23T21:19:53.423' AS DateTime))
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingID], [VehicleID], [BookingDate], [ServiceType], [BookingStatus], [Notes], [TotalAmount], [DiscountAmount], [FinalAmount], [TimeSlot], [CreatedAt]) VALUES (1, 1, CAST(N'2026-05-30T09:00:00.000' AS DateTime), N'Premium Wash', N'Completed', N'Wash and wax', CAST(300000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(300000.00 AS Decimal(12, 2)), N'09:00', CAST(N'2026-06-23T21:19:53.580' AS DateTime))
INSERT [dbo].[Bookings] ([BookingID], [VehicleID], [BookingDate], [ServiceType], [BookingStatus], [Notes], [TotalAmount], [DiscountAmount], [FinalAmount], [TimeSlot], [CreatedAt]) VALUES (2, 3, CAST(N'2026-05-31T14:00:00.000' AS DateTime), N'Basic Wash', N'Completed', N'Customer waits at station', CAST(150000.00 AS Decimal(12, 2)), CAST(7500.00 AS Decimal(12, 2)), CAST(142500.00 AS Decimal(12, 2)), N'14:00', CAST(N'2026-06-23T21:19:53.580' AS DateTime))
INSERT [dbo].[Bookings] ([BookingID], [VehicleID], [BookingDate], [ServiceType], [BookingStatus], [Notes], [TotalAmount], [DiscountAmount], [FinalAmount], [TimeSlot], [CreatedAt]) VALUES (3, 4, CAST(N'2026-06-01T08:00:00.000' AS DateTime), N'Interior Cleaning', N'Cancelled', N'Full interior cleaning', CAST(500000.00 AS Decimal(12, 2)), CAST(25000.00 AS Decimal(12, 2)), CAST(475000.00 AS Decimal(12, 2)), N'08:00', CAST(N'2026-06-23T21:19:53.580' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerPromotions] ON 

INSERT [dbo].[CustomerPromotions] ([CustomerPromotionID], [PromotionID], [CustomerID], [AssignedDate], [IsUsed], [UsedDate], [Notes], [IsDeleted]) VALUES (1, 2, 17, CAST(N'2026-06-25T08:00:00.000' AS DateTime), 0, NULL, N'', 1)
INSERT [dbo].[CustomerPromotions] ([CustomerPromotionID], [PromotionID], [CustomerID], [AssignedDate], [IsUsed], [UsedDate], [Notes], [IsDeleted]) VALUES (2, 7, 8, CAST(N'2026-06-20T08:00:00.000' AS DateTime), 0, NULL, N'', 1)
INSERT [dbo].[CustomerPromotions] ([CustomerPromotionID], [PromotionID], [CustomerID], [AssignedDate], [IsUsed], [UsedDate], [Notes], [IsDeleted]) VALUES (3, 5, 12, CAST(N'2025-01-15T08:00:00.000' AS DateTime), 0, NULL, N'', 1)
SET IDENTITY_INSERT [dbo].[CustomerPromotions] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FullName], [PhoneNumber], [Email], [Password], [Address], [TierID], [CurrentPoints], [TotalBookings], [TotalSpend], [Status], [CreatedAt]) VALUES (1, N'Nguyen Van A', N'0901234567', N'vana@gmail.com', N'123456', N'Ho Chi Minh City', 1, 250, 3, CAST(650000.00 AS Decimal(12, 2)), 1, CAST(N'2026-01-10T09:00:00.000' AS DateTime))
INSERT [dbo].[Customers] ([CustomerID], [FullName], [PhoneNumber], [Email], [Password], [Address], [TierID], [CurrentPoints], [TotalBookings], [TotalSpend], [Status], [CreatedAt]) VALUES (2, N'Tran Thi B', N'0912345678', N'thib@gmail.com', N'123456', N'Ha Noi', 2, 506, 8, CAST(2642500.00 AS Decimal(12, 2)), 1, CAST(N'2026-01-15T09:00:00.000' AS DateTime))
INSERT [dbo].[Customers] ([CustomerID], [FullName], [PhoneNumber], [Email], [Password], [Address], [TierID], [CurrentPoints], [TotalBookings], [TotalSpend], [Status], [CreatedAt]) VALUES (3, N'Le Van C', N'0933333333', N'levanc@gmail.com', N'123456', N'Da Nang', 3, 260, 18, CAST(7025000.00 AS Decimal(12, 2)), 1, CAST(N'2026-01-20T09:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerTiers] ON 

INSERT [dbo].[CustomerTiers] ([TierID], [TierName], [MinBookings], [MinSpend], [PointMultiplier], [DiscountPercent], [PriorityLevel], [BookingWindowDays], [CreatedAt]) VALUES (1, N'Member', 0, CAST(0.00 AS Decimal(12, 2)), CAST(1.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), 1, 7, CAST(N'2026-06-23T21:19:53.420' AS DateTime))
INSERT [dbo].[CustomerTiers] ([TierID], [TierName], [MinBookings], [MinSpend], [PointMultiplier], [DiscountPercent], [PriorityLevel], [BookingWindowDays], [CreatedAt]) VALUES (2, N'Silver', 5, CAST(2000000.00 AS Decimal(12, 2)), CAST(1.10 AS Decimal(5, 2)), CAST(5.00 AS Decimal(5, 2)), 2, 10, CAST(N'2026-06-23T21:19:53.420' AS DateTime))
INSERT [dbo].[CustomerTiers] ([TierID], [TierName], [MinBookings], [MinSpend], [PointMultiplier], [DiscountPercent], [PriorityLevel], [BookingWindowDays], [CreatedAt]) VALUES (3, N'Gold', 15, CAST(6000000.00 AS Decimal(12, 2)), CAST(1.20 AS Decimal(5, 2)), CAST(10.00 AS Decimal(5, 2)), 3, 12, CAST(N'2026-06-23T21:19:53.420' AS DateTime))
SET IDENTITY_INSERT [dbo].[CustomerTiers] OFF
GO
SET IDENTITY_INSERT [dbo].[PointTransactions] ON 

INSERT [dbo].[PointTransactions] ([PointTransactionID], [CustomerID], [BookingID], [PointsChanged], [TransactionType], [ExpiryDate], [Description], [CreatedAt]) VALUES (1, 1, 1, 100, N'Earned', CAST(N'2027-06-23T21:19:53.607' AS DateTime), N'Earned from booking', CAST(N'2026-06-23T21:19:53.607' AS DateTime))
INSERT [dbo].[PointTransactions] ([PointTransactionID], [CustomerID], [BookingID], [PointsChanged], [TransactionType], [ExpiryDate], [Description], [CreatedAt]) VALUES (2, 2, 2, -50, N'Redeemed', NULL, N'Used points for discount', CAST(N'2026-06-23T21:19:53.607' AS DateTime))
INSERT [dbo].[PointTransactions] ([PointTransactionID], [CustomerID], [BookingID], [PointsChanged], [TransactionType], [ExpiryDate], [Description], [CreatedAt]) VALUES (3, 3, 3, 200, N'Earned', CAST(N'2027-06-23T21:19:53.607' AS DateTime), N'Interior cleaning reward', CAST(N'2026-06-23T21:19:53.607' AS DateTime))
SET IDENTITY_INSERT [dbo].[PointTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([PromotionID], [AdminID], [PromotionName], [Description], [DiscountPercent], [BonusPoints], [StartDate], [EndDate], [Status], [TargetType], [IsDeleted], [CreatedAt]) VALUES (1, 1, N'Silver+ Summer Sale', N'10% off for Silver and above', CAST(10.00 AS Decimal(5, 2)), 0, CAST(N'2026-06-01T00:00:00.000' AS DateTime), CAST(N'2026-06-30T00:00:00.000' AS DateTime), 1, N'TIER_ONLY', 0, CAST(N'2026-06-23T21:19:53.633' AS DateTime))
INSERT [dbo].[Promotions] ([PromotionID], [AdminID], [PromotionName], [Description], [DiscountPercent], [BonusPoints], [StartDate], [EndDate], [Status], [TargetType], [IsDeleted], [CreatedAt]) VALUES (2, 1, N'VIP Platinum Reward', N'Free wash for Platinum members', CAST(100.00 AS Decimal(5, 2)), 0, CAST(N'2026-07-01T00:00:00.000' AS DateTime), CAST(N'2026-07-31T00:00:00.000' AS DateTime), 1, N'TIER_ONLY', 0, CAST(N'2026-06-23T21:19:53.633' AS DateTime))
INSERT [dbo].[Promotions] ([PromotionID], [AdminID], [PromotionName], [Description], [DiscountPercent], [BonusPoints], [StartDate], [EndDate], [Status], [TargetType], [IsDeleted], [CreatedAt]) VALUES (3, 1, N'Premium Member Day', N'Bonus points for Gold and Platinum', CAST(0.00 AS Decimal(5, 2)), 300, CAST(N'2026-08-01T00:00:00.000' AS DateTime), CAST(N'2026-08-15T00:00:00.000' AS DateTime), 1, N'TIER_ONLY', 0, CAST(N'2026-06-23T21:19:53.633' AS DateTime))
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
INSERT [dbo].[PromotionTiers] ([PromotionID], [TierID]) VALUES (1, 2)
INSERT [dbo].[PromotionTiers] ([PromotionID], [TierID]) VALUES (2, 4)
INSERT [dbo].[PromotionTiers] ([PromotionID], [TierID]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([VehicleID], [CustomerID], [LicensePlate], [Brand], [Model], [Color], [CreatedAt], [Status]) VALUES (1, 1, N'59A-12345', N'Toyota', N'Vios', N'White', CAST(N'2026-06-23T21:19:53.537' AS DateTime), 1)
INSERT [dbo].[Vehicles] ([VehicleID], [CustomerID], [LicensePlate], [Brand], [Model], [Color], [CreatedAt], [Status]) VALUES (2, 1, N'59A-67890', N'Kia', N'K3', N'Red', CAST(N'2026-06-23T21:19:53.537' AS DateTime), 1)
INSERT [dbo].[Vehicles] ([VehicleID], [CustomerID], [LicensePlate], [Brand], [Model], [Color], [CreatedAt], [Status]) VALUES (3, 2, N'51G-88888', N'Honda', N'City', N'Black', CAST(N'2026-06-23T21:19:53.537' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admins__A9D1053407D83763]    Script Date: 6/23/2026 9:54:29 PM ******/
ALTER TABLE [dbo].[Admins] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__85FB4E3887666CF0]    Script Date: 6/23/2026 9:54:29 PM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D105340D95DFCC]    Script Date: 6/23/2026 9:54:29 PM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__DB82ACA12CE48E98]    Script Date: 6/23/2026 9:54:29 PM ******/
ALTER TABLE [dbo].[CustomerTiers] ADD UNIQUE NONCLUSTERED 
(
	[TierName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vehicles__026BC15C0C71D7D1]    Script Date: 6/23/2026 9:54:29 PM ******/
ALTER TABLE [dbo].[Vehicles] ADD UNIQUE NONCLUSTERED 
(
	[LicensePlate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Pending') FOR [BookingStatus]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerPromotions] ADD  DEFAULT (getdate()) FOR [AssignedDate]
GO
ALTER TABLE [dbo].[CustomerPromotions] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[CustomerPromotions] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [CurrentPoints]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [TotalBookings]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [TotalSpend]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerTiers] ADD  DEFAULT ((0)) FOR [MinBookings]
GO
ALTER TABLE [dbo].[CustomerTiers] ADD  DEFAULT ((0)) FOR [MinSpend]
GO
ALTER TABLE [dbo].[CustomerTiers] ADD  DEFAULT ((1.0)) FOR [PointMultiplier]
GO
ALTER TABLE [dbo].[CustomerTiers] ADD  DEFAULT ((0)) FOR [DiscountPercent]
GO
ALTER TABLE [dbo].[CustomerTiers] ADD  DEFAULT ((1)) FOR [PriorityLevel]
GO
ALTER TABLE [dbo].[CustomerTiers] ADD  DEFAULT ((7)) FOR [BookingWindowDays]
GO
ALTER TABLE [dbo].[CustomerTiers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PointTransactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((0)) FOR [DiscountPercent]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((0)) FOR [BonusPoints]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ('ALL') FOR [TargetType]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Vehicles] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Vehicles]
GO
ALTER TABLE [dbo].[CustomerPromotions]  WITH CHECK ADD  CONSTRAINT [FK_CustomerPromotions_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[CustomerPromotions] CHECK CONSTRAINT [FK_CustomerPromotions_Customers]
GO
ALTER TABLE [dbo].[CustomerPromotions]  WITH CHECK ADD  CONSTRAINT [FK_CustomerPromotions_Promotions] FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotions] ([PromotionID])
GO
ALTER TABLE [dbo].[CustomerPromotions] CHECK CONSTRAINT [FK_CustomerPromotions_Promotions]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_CustomerTiers] FOREIGN KEY([TierID])
REFERENCES [dbo].[CustomerTiers] ([TierID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_CustomerTiers]
GO
ALTER TABLE [dbo].[PointTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PointTransactions_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[PointTransactions] CHECK CONSTRAINT [FK_PointTransactions_Bookings]
GO
ALTER TABLE [dbo].[PointTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PointTransactions_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[PointTransactions] CHECK CONSTRAINT [FK_PointTransactions_Customers]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [FK_Promotions_Admins] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Admins] ([AdminID])
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [FK_Promotions_Admins]
GO
ALTER TABLE [dbo].[PromotionTiers]  WITH CHECK ADD  CONSTRAINT [FK_PromotionTiers_CustomerTiers] FOREIGN KEY([TierID])
REFERENCES [dbo].[CustomerTiers] ([TierID])
GO
ALTER TABLE [dbo].[PromotionTiers] CHECK CONSTRAINT [FK_PromotionTiers_CustomerTiers]
GO
ALTER TABLE [dbo].[PromotionTiers]  WITH CHECK ADD  CONSTRAINT [FK_PromotionTiers_Promotions] FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotions] ([PromotionID])
GO
ALTER TABLE [dbo].[PromotionTiers] CHECK CONSTRAINT [FK_PromotionTiers_Promotions]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_Customers]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([DiscountAmount]>=(0)))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([FinalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD CHECK  (([CurrentPoints]>=(0)))
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD CHECK  (([TotalBookings]>=(0)))
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD CHECK  (([TotalSpend]>=(0)))
GO
ALTER TABLE [dbo].[CustomerTiers]  WITH CHECK ADD CHECK  (([DiscountPercent]>=(0) AND [DiscountPercent]<=(100)))
GO
ALTER TABLE [dbo].[CustomerTiers]  WITH CHECK ADD CHECK  (([PointMultiplier]>=(1)))
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD CHECK  (([BonusPoints]>=(0)))
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD CHECK  (([DiscountPercent]>=(0) AND [DiscountPercent]<=(100)))
GO
USE [master]
GO
